<html>
    <head>
        <link rel="stylesheet" href="/stylesheets/404.css">
    </head>
    <body>
        <div class="container">
            <p style="font-size: 30px;">Codemonkeys did not find your page :(</p>
        </div>
    </body>
</html>

