.btn-primary {
    color: black;
    background-color: white;
    border-color: lightblue; 
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active{
    color: black;
    background-color: cornflowerblue;
    border-color: lightblue; 
}

#wrapper {
    height: 100vh;
    display: grid;
    grid-template-rows: auto 4fr 0.1fr;
 }

.no_posts{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-info{
    color: cornflowerblue;
    background-color: white;
}
.btn-info:hover, .btn-info:active{
    color: black;
    background-color: cornflowerblue;
    border-color: lightblue;
}
.btn-info:disabled{
    background-color: cornflowerblue;
    opacity: 0.5;
    border-color: white;

}
