.btn-primary {
    color: black;
    background-color: white;
    border-color: lightblue; /*set the color you want here*/
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: black;
    background-color: cornflowerblue;
    border-color: lightblue; /*set the color you want here*/
}

#wrapper {
    height: 100vh;
    display: grid;
    grid-template-rows: auto 4fr 0.1fr;
 }

.no_posts{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
